<template name="popupWindows_import">
    <div class="row popup-windows send" style="overflow:auto;">
      <form class="account-send-form">
          <h1><strong>Transfer</strong> Funds</h1>
        <!-- from/to -->
        <div class="row clear from-to">
            <div class="col-sm-12">
                <h3>Import Account</h3>
                 <div class="select-image-btn-cover">
                   <button  class="fileUpload theme-btn">
                     <input class="upload" type="file"/> Import
                   </button>
                 </div>
            </div>
        </div>
    </form>
    </div>
</template>
