
<template name="popupWindows_receive">
    <div class="row popup-windows receive">
      <form class="account-send-form">
          <h1 class="main-head"><strong>Receive</strong> Daxxcoins</h1>
        <!-- from/to -->
        <div class="row clear from-to">

           <div class="col-sm-12">
               <h3>QR Code</h3>
               <div>
                 {{#if qrCodeValue}}
                   {{> QRCode text = qrCodeValue size ="128px"}}
                   {{/if}}
               </div>
           </div>

            <div class="col-sm-12">
                <h3>Daxx-Wallet Address</h3>
                <input type="text" value="123" class="form-control wallet-address-input"/>
            </div>

            <div class="col-sm-12">
               <button style="color:#fff;margin-top:20px;" class="show-data dapp-block-button dapp-small copyAddress" id="test"> Copy Link</button>
            </div>
        </div>
    </form>
    </div>

</template>
