<template name="popupWindows_send">
    <div class="row popup-windows send" style="overflow:auto;">
      <form class="account-send-form">
          <h1><strong>Transfer</strong> Funds</h1>
        <!-- from/to -->
        <div class="row clear from-to">
            <div class="col-sm-12">
                <h3>Daxx-Wallet Address</h3>
                <input type="text" class="form-control"/>
            </div>

            <div class="col-sm-12">
                <h3>No. of coins</h3>
                <input type="text" class="form-control"/>
            </div>

            <div class="col-sm-12">
                <h3>Remarks</h3>
                <textarea rows="3" class="form-control"></textarea>
            </div>

            <div class="col-sm-12">
               <h3>Wallet Passphrases</h3>
                <input type="text" class="form-control"/>
            </div>

            <div class="col-sm-12">
               <h3>Select Wallet</h3>
                <select class="form-control">
                    <option>Wallet 1</option>
                    <option>Wallet 2</option>
                </select>
            </div>

            <div class="col-sm-12">
               <h3>Trasaction Fees</h3>
                <input type="text" class="form-control"/>
            </div>

        </div>
    </form>
    </div>
</template>
