<template name="popupWindows_txndetails">

  <h1 style="text-align:center;margin-bottom:0px;" class="main-head">Transaction <strong>Details</strong></h1>


<div class="custom-table-cover">
  <table class="table table-bordered table-hover custom-table">
    <thead>
       <tr>
          <th>From</th>
          <th>To</th>
          <th>Amount</th>
          <th>Status</th>
       </tr>
    </thead>

  <tbody>
     <tr>
        <td align="center">daxx1</td>
        <td align="center">daxx5</td>
        <td align="center">25 daxx</td>
        <td align="center">Pending</td>
     </tr>
   </tbody>
  </table>
</div>
</template>
