<template name="popupWindows_view">

  <h1 class="main-head">Wallet <strong>Information</strong></h1>


<div class="custom-table-cover">
  <table class="table table-bordered table-hover custom-table">
    <thead>
       <tr>
          <th>Wallet Name</th>
          <th>Balance</th>
          <th>Wallet Address</th>
       </tr>
    </thead>

  <tbody>
     <tr>
        <td>Primary Daxx-wallet</td>
        <td>66.07 DAXX</td>
        <td>0x00ee851c25096a4a2500712af3c67e0d37b22b3e</td>
     </tr>

     <tr>
        <td>Primary Daxx-wallet</td>
        <td>66.07 DAXX</td>
        <td>0x00ee851c25096a4a2500712af3c67e0d37b22b3e</td>
     </tr>

     <tr>
        <td>Primary Daxx-wallet</td>
        <td>66.07 DAXX</td>
        <td>0x00ee851c25096a4a2500712af3c67e0d37b22b3e</td>
     </tr>
   </tbody>
  </table>
</div>
</template>
